.btn-more {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  // justify-content: space-between;
  width: 115px;
  height: 39px;
  padding: 3px 3px 4px 15px;
  margin-top: 50px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 28px;

  .btn-text {
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3.75px;
    opacity: 0.5;
  }
  .btn-caret {
    img {
      width: 32px;
      height: 32px;
      transition: transform 0.3s ease;
      transform: rotate(180deg);
    }
  }

  &.btn-open {
    .btn-caret {
      img {
        transform: rotate(0);
      }
    }
  }

  @include mq($from: tablet) {
    width: 146px;
    height: 56px;
    padding: 6px 9px 4px 20px;
    margin-top: 80px;

    .btn-text {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 5px;
    }
    .btn-caret {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
